[Desktop Entry]
Version=1.0
Name=gemini
Comment=gemini
Exec=omarchy-launch-webapp https://gemini.google.com/app
Terminal=false
Type=Application
Icon=/home/rooutt/.local/share/applications/icons/gemini.png
StartupNotify=true
