[Desktop Entry]
Version=1.0
Name=icloud
Comment=icloud
Exec=omarchy-launch-webapp https://www.icloud.com/
Terminal=false
Type=Application
Icon=/home/rooutt/.local/share/applications/icons/icloud.png
StartupNotify=true
