[Desktop Entry]
Version=1.0
Name=Maps
Comment=Maps
Exec=omarchy-launch-webapp https://maps.apple.com/
Terminal=false
Type=Application
Icon=/home/rooutt/.local/share/applications/icons/Maps.png
StartupNotify=true
