[Desktop Entry]
Version=1.0
Name=U
Comment=U
Exec=omarchy-launch-webapp https://unifi.ui.com/
Terminal=false
Type=Application
Icon=/home/rooutt/.local/share/applications/icons/U.png
StartupNotify=true
