[Desktop Entry]
Version=1.0
Name=Zillow
Comment=Zillow
Exec=omarchy-launch-webapp https://www.zillow.com/
Terminal=false
Type=Application
Icon=/home/rooutt/.local/share/applications/icons/Zillow.png
StartupNotify=true
